[Desktop Entry]
Encoding=UTF-8
Exec=flatpak run io.github.aaron777collins.zerotier-gui
Icon=zerotier-gui
Type=Application
Terminal=false
Comment=Linux front-end for ZeroTier
Name=ZeroTier GUI
GenericName=ZeroTier GUI
StartupWMClass=zerotier-gui
StartupNotify=false
Categories=Utility;
Version=0.0.82
